### Working with csv file

In [2]:
import pandas as pd
from io import StringIO

In [ ]:
df = pd.read_csv('mercedesbenz.csv')
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [4]:
data = ('col1, col2, col3 \n' 
        'x, y, 1\n'
        'a, b, 2\n'
        'c, d, 3\n')

In [5]:
type(data)

str

In [ ]:
# in memory file format object
StringIO(data)

In [7]:
pd.read_csv(StringIO(data))

  col1  col2   col3
0    x     y       1
1    a     b       2
2    c     d       3

In [14]:
pd.read_csv(StringIO(data),usecols=['col1'])

  col1
0    x
1    a
2    c

In [20]:
df = pd.read_csv('mercedesbenz.csv',usecols=['X0','X1','X2','X3','X4','X5'])
df.head()

   X0 X1  X2 X3 X4 X5
0   k  v  at  a  d  u
1   k  t  av  e  d  y
2  az  w   n  c  d  x
3  az  t   n  f  d  x
4  az  v   n  f  d  h

In [22]:
df.to_csv('test.csv', index=False)

### datatypes in csv

In [26]:
data = ('a, b, c, d\n' 
        '1, 2, 3, 4\n'
        '5, 6, 7, 8\n'
        '9, 10, 11\n')

df = pd.read_csv(StringIO(data))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1    b      3 non-null      int64
 2    c      3 non-null      int64
 3    d      2 non-null      float64
dtypes: float64(1), int64(3)
memory usage: 224.0 bytes

In [27]:
df = pd.read_csv(StringIO(data), dtype='object')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      object
 1    b      3 non-null      object
 2    c      3 non-null      object
 3    d      2 non-null      object
dtypes: object(4)
memory usage: 224.0+ bytes

In [28]:
df = pd.read_csv(StringIO(data))
df.head()

   a   b   c    d
0  1   2   3  4.0
1  5   6   7  8.0
2  9  10  11  NaN

In [29]:
df = pd.read_csv(StringIO(data), dtype={'a':int, 'b':float, 'c':int })
df

   a   b   c    d
0  1   2   3  4.0
1  5   6   7  8.0
2  9  10  11  NaN

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1    b      3 non-null      int64
 2    c      3 non-null      int64
 3    d      2 non-null      float64
dtypes: float64(1), int64(3)
memory usage: 224.0 bytes