### Working with JSON

In [2]:
import pandas as pd

In [3]:
data = '{"employee_name": "James", "email": "james@gmail.com", "job_profile": [{"title1": "team Lead", "title2": "Sr. Developer"}]}'

In [4]:
type(data)

str

In [5]:
pd.read_json(data)

C:\Users\1999n\AppData\Local\Temp\ipykernel_17624\1661395064.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(data)

,employee_name,email,job_profile
0,James,james@gmail.com,"{'title1': 'team Lead', 'title2': 'Sr. Develop..."

In [7]:
pd.read_json(data, orient='columns')
pd.read_json(data, orient='recods')

C:\Users\1999n\AppData\Local\Temp\ipykernel_17624\2942804655.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(data, orient='columns')
C:\Users\1999n\AppData\Local\Temp\ipykernel_17624\2942804655.py:2: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(data, orient='recods')

,employee_name,email,job_profile
0,James,james@gmail.com,"{'title1': 'team Lead', 'title2': 'Sr. Develop..."